.head {
  position: relative;
  top: -9.6vh;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: flex-end;
  margin-bottom: -6.4vh;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    &__image {
      width: 100%;
      height: 100%;
      background-position: top;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 100%;
      width: 100%;
      background: rgba(16, 29, 64, 0.7);
    }
  }
  &__content {
    width: 100%;
    max-width: 192rem;
    margin: 0 auto;
    color: $color-white;
    & .heading-3 {
      margin-bottom: 4rem;
      & a {
        color: $color-white;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    &__content {
      & .heading-3 {
        text-align: center;
      }
    }
    &__bg {
      overflow: hidden;
      &__image {
        width: 350%;
        margin-left: -200%;
      }
    }
  }
}

.vision {
  padding-bottom: 4.8rem;
  .heading {
    align-items: flex-start;
  }
  &__text {
    text-align: justify;
    margin-top: 1.6rem;
  }
  @media (min-width: 320px) and (max-width: 576px) {
    .heading {
      align-items: center;
    }
  }
}

.mission {
  padding-bottom: 4.8rem;
  .heading {
    align-items: flex-start;
  }
  &__text {
    text-align: justify;
    margin-top: 1.6rem;
  }
  @media (min-width: 320px) and (max-width: 576px) {
    .heading {
      align-items: center;
    }
  }
}

.value {
  margin-bottom: 7.2rem;
  &__content {
    display: flex;
    justify-content: space-between;
    &__image {
      width: 50%;
      height: 50rem;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    &__text {
      width: 48%;
      & .heading {
        align-items: flex-start;
        margin-bottom: 1.6rem;
      }
      &__lists {
        padding-left: 3.2rem;
        &__item {
          font-size: 1.6rem;
          font-weight: 300;
          & span {
            color: $color-primary;
            // font-weight:
          }
        }
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    &__content {
      flex-direction: column;
      &__image {
        width: 100%;
        height: 45rem;
        margin-bottom: 2.4rem;
      }
      &__text {
        width: 100%;
        &__lists {
          &__item {
            font-size: 2rem;
            width: 100%;
          }
        }
      }
    }
  }
}

.leaders {
  display: flex;
  flex-direction: column;
  margin: 4.8rem 0;
  & .heading {
    margin-bottom: 4rem;
  }
  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    &__section {
      display: flex;
      justify-content: space-between;

      &__image {
        width: 30%;
        height: 40rem;
        & img {
          width: 100%;
          height: 100%;
        }
      }
      &__content {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & .heading {
          margin-bottom: 1.6rem;
          align-items: flex-start;
          & .heading-3 {
            width: 48rem;
          }
        }
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    &__row {
      &__section {
        flex-direction: column;
        &__image {
          height: 55rem;
          margin-bottom: 2.4rem;
        }
        &__content {
          &__text {
            & .paragraph {
              text-align: justify;
            }
          }
        }
        & > * {
          width: 100%;
        }
      }
      & .section-two {
        flex-direction: column-reverse;
      }
    }
  }
}

.team {
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
  & > * {
    margin-bottom: 6.4rem;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    &__section {
      width: 30.5%;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      &__image {
        width: 100%;
        height: 42rem;
        & img {
          width: 100%;
          height: 100%;
        }
      }
      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.6rem 1.6rem 2.4rem 1.6rem;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    &__row {
      flex-direction: column;
      &__section {
        width: 100%;
        margin-bottom: 5.6rem;
        &__image {
          height: 56rem;
        }
      }
    }
  }
}
