.community {
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.2rem;
    &__card {
      width: 30%;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      & img {
        width: 100%;
        height: 19.2rem;
      }
      & .paragraph {
        padding: 0.8rem;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    &__row {
      flex-direction: column-reverse;
      &__card {
        width: 100%;
        margin-bottom: 4rem;
        & img {
          height: 35rem;
        }
      }
    }
  }
}
.behaviour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7.2rem;
  &__image {
    width: 40%;
    & img {
      width: 100%;
    }
  }
  &__text {
    width: 55%;
    & .heading {
      align-items: flex-start;
      margin-bottom: 1.6rem;
    }
    &__lists {
      padding-left: 3.2rem;
      &__item {
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    flex-direction: column-reverse;
    & > * {
      width: 100%;
    }
    &__text {
      margin-bottom: 2.4rem;
      & .heading {
        align-items: center;
      }
      &__lists {
        padding-left: 1.6rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__item {
          font-size: 2rem;
          font-weight: 300;
          &:not(:last-of-type) {
            width: 47%;
          }
        }
      }
      & .paragraph {
        text-align: justify;
      }
    }
  }
}
