.navbar {
  background-color: transparent;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 9.6vh;
  position: relative;
  z-index: 2;
  &__mobile {
    &__menu {
      display: inline-block;
    }
    &__logo {
      display: inline-block;
      margin: 0;
      &__link {
        &__img {
          height: 4.8rem;
          width: 11.9rem;
        }
      }
    }
  }

  &__nav {
    justify-content: flex-end;

    &__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      align-items: center;

      &__item {
        list-style: none;
        float: left;
        & .active {
          padding-bottom: 0.8rem;
          border-bottom: 0.2rem solid $color-primary;
        }
        &:not(:last-child) {
          margin-right: 4.8rem;
        }

        &__link {
          font-size: 1.6rem;
          text-transform: capitalize;
          color: $color-white;
          font-weight: 300;
          &:hover {
            padding-bottom: 0.8rem;
            border-bottom: 0.2rem solid $color-primary;
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    display: block;
    padding: 0;
    &__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 3.2rem;
      height: 9.6vh;
      &__logo {
        margin: 0;
        padding: 0;
      }

      &__menu {
        &__bar {
          background-color: $color-white;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0;

          &__hide {
            animation: bar-hide 1s linear forwards;
          }

          @keyframes bar-hide {
            0% {
              width: 0px;
              height: 0px;
            }

            100% {
              width: 0px;
              height: 0px;
            }
          }

          &__cross {
            animation: bar-cross-left 0.5s linear forwards;
          }

          @keyframes bar-cross-left {
            10% {
              transform: rotate(45deg) translate(4px, 4px);
            }

            50% {
              transform: rotate(45deg) translate(7px, 7px);
            }

            100% {
              transform: rotate(45deg) translate(3px, 2px);
            }
          }

          &__across {
            animation: bar-cross-right 0.5s linear forwards;
          }

          @keyframes bar-cross-right {
            10% {
              transform: rotate(-45deg);
            }

            60% {
              transform: rotate(-45deg) translate(-3px, 3px);
            }

            100% {
              transform: rotate(-45deg) translate(1px, -2px);
            }
          }
        }
      }
    }

    &__nav {
      display: none;
      position: static;
      padding-left: 3.2rem;
      &__toggle {
        display: block;
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        &__item {
          & .active {
            padding-bottom: unset;
            border-bottom: unset;
            color: $color-primary;
          }
          list-style: none;
          float: none;
          padding: 1.6rem 0;

          &__link {
            color: $color-white;
            font-size: 2.1rem;
            font-weight: 300;
            &:hover {
              color: $color-primary;
              padding-bottom: unset;
              border-bottom: unset;
            }
          }
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    display: block;
    padding: 0;
    &__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem 2.4rem;

      &__logo {
        margin: 0;
        padding: 0;
      }

      &__menu {
        &__bar {
          background-color: $color-primary;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0;

          &__hide {
            animation: bar-hide 1s linear forwards;
          }

          @keyframes bar-hide {
            0% {
              width: 0px;
              height: 0px;
            }

            100% {
              width: 0px;
              height: 0px;
            }
          }

          &__cross {
            animation: bar-cross-left 0.5s linear forwards;
          }

          @keyframes bar-cross-left {
            10% {
              transform: rotate(45deg) translate(4px, 4px);
            }

            50% {
              transform: rotate(45deg) translate(7px, 7px);
            }

            100% {
              transform: rotate(45deg) translate(3px, 2px);
            }
          }

          &__across {
            animation: bar-cross-right 0.5s linear forwards;
          }

          @keyframes bar-cross-right {
            10% {
              transform: rotate(-45deg);
            }

            60% {
              transform: rotate(-45deg) translate(-3px, 3px);
            }

            100% {
              transform: rotate(-45deg) translate(1px, -2px);
            }
          }
        }
      }
    }

    &__nav {
      display: none;
      position: static;
      &__toggle {
        display: block;
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        &__item {
          & .active {
            // border-left: 1.5px solid $color-secondary;
            padding: 0 0 0 0.5rem;
            border-bottom: 0;
          }
          list-style: none;
          float: none;
          padding: 2% 5%;

          &__link {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  @media all and (min-width: 1024px) and (max-width: 1440px) {
    padding: 0;
  }

  @media all and (min-width: 1440px) and (max-width: 1600px) {
    padding: 0;
  }
}

.footer {
  background-color: #101d40;
  padding: 8rem 0;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    &__column {
      color: $color-white;
      &:nth-of-type(1) {
        width: 35%;
        & img {
          width: 19.2rem;
          height: 7.79rem;
          margin-bottom: 1.6rem;
        }
      }
      &__lists {
        &__item {
          list-style: none;
          margin-bottom: 1.6rem;
          & a {
            color: $color-white;
          }
        }
      }
      &:nth-of-type(4) {
        & a {
          &:not(:last-child) {
            margin-right: 2.4rem;
          }
        }
        & svg {
          width: 4rem;
          height: 4rem;
        }
      }

      &__contact {
        &__item {
          list-style: none;
          // display: flex;
          // align-items: center;
          margin-bottom: 1.6rem;
          & svg {
            margin-right: 0.8rem;
            height: 1.6rem;
            width: 1.6rem;
          }
        }
      }
    }
  }
  &__bottom {
    margin-top: 4rem;
    color: $color-white;
  }
  @media (min-width: 320px) and (max-width: 576px) {
    &__top {
      flex-direction: column;
      &__column {
        & img {
          width: 19.2rem;
          height: 7.79rem;
          margin-bottom: 1.6rem;
        }
        width: 100%;
        &:nth-of-type(1) {
          width: 100%;
          margin-bottom: 2.4rem;
        }
        &__lists {
          &__item {
            margin-bottom: 2.4rem;
          }
        }
      }
    }
  }
}
